{% comment %} <div class="postWrapper">
    <h2 class="slider-title">WEATHER</h2>
</div> {% endcomment %}
<div class="weather__container">
    {% comment %} <div class="search-box">
        <i class="fa-solid fa-location-dot"></i>
        <input type="text" placeholder="Введите город" />
        <button class="refresh fa-solid fa-arrows-rotate"></button>
        <button class="search fa-solid fa-magnifying-glass"></button>
    </div> {% endcomment %}
    <div class="weatherWrapper refresh-box">
        <h3>Прогноз погоды</h3>
        <p class="last-refresh"></p>
    </div>
    <div class="divider"></div>

    <div class="weather">
        <div class="weather-image">
            <i class="fa-solid fa-cloud"></i>
        </div>
        <h1 class="temp">22 &#8451</h1>
        <h2 class="city">UNKNOWN</h2>
        <div class="details">
            <div class="col">
                <i class="fa-solid fa-water"></i>
                <div>
                <p class="humidity">50%</p>
                <p>Влажность</p>
                </div>
            </div>
            <div class="col">
                <i class="fa-solid fa-wind"></i>
                <div>
                <p class="wind">15 км/ч</p>
                <p>Ветер</p>
                </div>
            </div>
            
        </div>
        
    </div>
    <div class="divider"></div>
    {% comment %} <div class="refresh-box"> {% endcomment %}
        {% comment %} <p class="last-refresh"></p> {% endcomment %}

        {% comment %} <p class="title-refresh">Обновить</p> {% endcomment %}
        {% comment %} <button class="fa-solid fa-arrows-rotate"></button> {% endcomment %}
    {% comment %} </div> {% endcomment %}
    <div class="errorCity">
        <p>Ошибка в имени города</p>
    </div>
    <div class="search-box">
        <i class="fa-solid fa-location-dot"></i>
        <input type="text" placeholder="Введите город" />
        {% comment %} <div> {% endcomment %}
            <button class="refresh fa-solid fa-arrows-rotate"></button>
            <button class="search fa-solid fa-magnifying-glass"></button>
        {% comment %} </div> {% endcomment %}
    </div>
</div>