@import 'normalize.css';
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@import 'default.css';
* {
	margin: 0px;
	padding: 0px;
}
*, :after, :before {
	box-sizing: border-box;
}
.clear {clear: both;}
.header {
	display: block;
}
.container {
    min-width: 320px;
    margin: 0 auto;
    padding: 0px 10px;
}
h1 {
    font-size: 22px;
    }
h2 {
    font-size: 20px;
    }
/*убрали стиль подчеркивание и синий цвет у ссылок*/
a {
    text-decoration: none;
    color: inherit;
}
/*Фигачим шапку сайта*/
.logo {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: 10px 5px;
    width: 70px;
    height: 60px;
}
/*задаем цвет шапки*/
.breaking-news-area {
    background: #3F4137;
    color: #aaa;
    padding: 5px 10px 5px 10px;
}
/*нужно сделать space between*/
.breaking-news-area p.last {
    float: right;
}
.breaking-news-title p a {
    color: #aaa; /* Задаем белый цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
}
.logo-area {
    width: 100%;
    max-width: 310px;
    margin: 0 auto;
    overflow: hidden; /* Обрезаем изображение, если оно выходит за пределы контейнера */
    text-align: center;
}
.logo-area img {
    width: 100%;
    max-width: 310px;
    height: auto; /* Чтобы контейнер не превышал ширину экрана */
    overflow: hidden; /* Обрезаем изображение, если оно выходит за пределы контейнера */
}
@media (min-width: 320px) {
	.top-header {
		height: auto;
		padding: 20px, 0px;
	}
}
/*фигачим навигацию со скролом*/
.navigation {
}
.navigation-header__container {
    padding: 0;
    min-width: 100vw;
}
.navigation__list {
    display: flex;
    padding: 0 calc(100vw / 2 - var(--container) / 2);
    overflow-x: auto;
    overflow-y: hidden;
    /*растояние между элементами списка в горизонтальном режиме*/
    column-gap: 8px;
}
.navigation__item {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 7px 8px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    white-space: nowrap; /*запрет переноса слов*/
}
/*добавление рамки при наведении на кнопки*/
.navigation__item:hover,
.navigation__item:focus-visible {
    outline: 3px solid #4415d1;
    outline-offset: -3px;
}
.selected {
    /*активная кнопка недоступна и меняет цвет*/
    pointer-events: none;
    background-color: #db8ecd;
}
.selected:focus {
    outline: none;
}
/*фигачим кнопку*/
/*делаем список горизонтальным*/
.header__list {
    display: flex;
}
/*убираем точки из списка*/
.header__list li{
    list-style: none;
    /*Задаем отступы*/
    margin: 5px 0px 0px 10px;
}
/*задаем ситили для пунктов меню*/
.header__link {
    color: black;
    text-transform: uppercase;
    /*font-size: 18px;*/
    text-decoration: none;
}
/*делаем адаптивную кнопку меню*/
@media (max-width: 767px) {
    body {
        overflow-x: hidden; /* Убрать горизонтальную прокрутку на маленьких экранах */
    }
    /*скрываем меню для остальных разрешений*/
    .header__burger {
        display: block;
        position: relative;
        /*отредактировать положение*/
        top: 10px;
        left: 10px;
        width: 30px;
        height: 20px;
        margin-left: 0; /* Задайте желаемый отступ слева */
        z-index: 1000;
    }
    /*рисуем кнопку*/
    .header__burger span {
        position: absolute;
        background-color: black;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    /*рисуем меню*/
    .header__menu {
        position: fixed;
        top: -100%;
        left: 10px;
        right: 10px;
        /*width: calc(100vw / 2 - var(--container) / 2);*/
        height: 335px; /*высота выдвигаемого меню*/
        overflow: auto;
        transition: all 0.6s ease 0s;
        background-color: #18b5a4;
        padding: 15px 10px 20px 10px;
    }
    .header__menu.active {
        /*нужно подбирать разрешение и сдвиг*/
        top: 170px;
        position: absolute;
        z-index: 1000;
    }
    .header__list {
        display: table-row;
        position: relative;
        bottom: 0;
    }

}
/*Делаем карусель .wrapper*/
.slider-header {
    padding: 0px 0px 10px 0px;
    margin-top: 50px; /* Измените это значение на то, которое вам нужно, чтобы спустить контент ниже */
    height: 316px;
    margin-bottom: 180px;
}
.slider__container {
    padding: 30px;
    min-height: 100%;
    position: relative;
}
.slider-header {
    padding: 0px 0px 10px 0px;
    height: 316px;
}
.slider-title {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    color: black;
    margin: 0px 0px 10px 0px;
}
.image-slider {
    padding: 30px 0 70px 0;
}
.image-slider__slide {
    /*border-style: solid;
    background-color: #db8ecd;*/

    /* position: relative;
    background-size: cover;
    background-position: center;*/
    color: red;
    background-color: #db8ecd;
}

.image-slider__content {
    padding: 10px;
    /* position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    box-sizing: border-box; */
    /* размер выводимого слайдера задается ниже */
    width: 300px;
    height: 300px; 
}

.image-slider__wrapper {
    position: relative;
}
.image-slider__slide {

}
.image-slider__image {
    position: relative;
    text-align: center;
    
}
.image-slider__image img{
    /* max-width: 100%; */
    width: 100%;
    display: block;
}
.image-slider__image .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Теневая тень */
    z-index: 1;
}
/*стрелочки*/
.image-slider .swiper-button-prev:after,
.image-slider .swiper-button-next:after {
    color: red;
    top: 190px;
    font-size: 40px;
}
/*буллеты*/
.swiper-pagination {
    position: absolute;
    bottom: 1500px; /* Регулируйте это значение в зависимости от вашего дизайна */
    text-align: center;
}
.image-slider .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    background-color: red;
}
/*Скрол*/
.image-slider .swiper-scrollbar-drag {
    cursor: pointer;
    background-color: red;
}
/*прогрессбар*/
.image-slider .swiper-pagination-progressbar-fill {
    color: red;
}



img.img-article-left {
	max-width: 300px;
	height: auto;
	float: left;
	padding: 0 10px 10px 0;
}
img.img-article-left.thumb {
	max-width: 150px;
	height: auto;
}
p.link-read-post {
    padding: 15px 20px 0 0;
	text-align: left;
}
p.link-read-post a {
	padding: 10px;
	min-width: 100px;
	background: #333671;
	color: #fff;
	text-decoration: none;
}
div.article-panel {
    background: red;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    overflow: hidden;
    color: white;
}
div.article-panel p.first {
    margin: 0;
    float: left;
}
div.article-panel p.last {
    margin: 0;
    float: right;
}
ul.list-articles {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.list-articles li {
	border-bottom: 1px solid #ccc;
}
.table-page {
	width: 100%;
	height: 100%;
	vertical-align: top;
}
.table-page tr {height: 100%;}

.clear {clear: both;}
/*Описываем пагинацию*/
#nav ul {
    text-align: center;
}
.list-pages {
	text-align: center;
	margin: 0 0 10px 0;
}
.list-pages ul {
	margin: 10px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 10px 0 0;
}
.list-pages a {
	color: #000;
	font-size: 16px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 30px;
	height: 30px;
	padding: 4px 0 0 0;/*положение цифр в кружках*/
	border: 2px solid #d0d0d0;
    border-color: red;
	border-radius: 30px;
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0; 
}
.list-pages .page-num-selected {
	border: none;
	color: #000;
	font-size: 22px;
    color: #333671;;
    font-weight: 700;
}
.list-pages .page-num-selected:hover {
	box-shadow: none; 
}
/*Блок fotter*/
#footer {
    background: #3F4137;
    top: 30px;
	box-sizing: border-box;
	padding: 5px;
	color: #aaa;
	font-size: 14px;
	font-family: Verdana, Geneva, Arial, Helvetica;
	text-align: center;
	overflow: hidden;
}
#footer a {
	text-decoration: underline;
	color: #aaa;
}
/*делаем адаптивность*/
@media (min-width: 415px) {
    .logo-area {
        max-width: 400px;
    }
    .logo-area img {
        max-width: 405px;
    }
    .header__menu.active {
        /*нужно подбирать разрешение и сдвиг*/
        top: 204px;
    }
    p {
        font-size: 16px;
    }
    h5 {
        font-size: 16px;
    }
}
@media (min-width: 705px) {
    .slider-header {
        height: 289.23px;
    }
    .main-content {
        padding-top: 10px;
    }
    .logo-area {
        max-width: 700px;
    }
    .logo-area img {
        max-width: 705px;
    }
    .header__menu {
        height: 320px;
    }
    .header__menu.active {
        /*нужно подбирать разрешение и сдвиг*/
        top: 314px;
    }
    h1 {
        font-size: 26px;
        }
    h2 {
        font-size: 22px;
        }
    p {
        font-size: 18px;
    }
    h5 {
        font-size: 18px;
    }
}
@media (min-width: 768px) {
    .container {
        min-width: 768px;
    }
    body {
        overflow-x: hidden;
    }
    .main-content {
        padding-top: 35px;
    }
    .slider-title {
        font-size: 18px;
        font-weight: 700;
    }
    .logo-area {
        max-width: 100%;
    }
    .logo-area img {
        max-width: 100%;
    }
    .navigation__list {
        height: 90px;

        scrollbar-color: red white; /* Для Firefox где red - это цвет полосы прокрутки, а green - это цвет трека (фона полосы прокрутки) */
    }
    /*для Chrome, Safari*/
    .navigation__list::-webkit-scrollbar {
        width: 12px; /* Ширина полосы прокрутки */
    }
    .navigation__list::-webkit-scrollbar-thumb {
        background-color: red; /* Цвет полосы прокрутки */
    }
    .navigation__list::-webkit-scrollbar-track {
        background-color: white; /* Цвет трека (фона полосы прокрутки) */
    }
    ul.navigation__list {
        width: 100%;
    }
    .navigation-header .navigation-header__container .header__body .header__menu{
        height: 42px;
    }
    .navigation__list {
        column-gap: 12px;
        justify-content: space-between;
        padding: 10px;
    }
    .header__list li {
        margin: 0px 0px 0px 0px;
    }

    h1 {
        font-size: 30px;
        }
    h2 {
        font-size: 26px;
        }
    p {
        font-size: 22px;
    }
    h5 {
        font-size: 22px;
    }
}
@media (min-width: 959px) {
    .main-content {
        padding-top: 10px;
    }
}
@media (min-width: 1024px) {
    .container {
        width: 1024px;
    }
    .slider-title {
        font-size: 26px;
        font-weight: 700;
    }
    .navigation-header .navigation-header__container .header__body .header__menu{
        height: 54px;
    }
    .navigation {
        margin-bottom: 10px;
    }
    .navigation__list {
        column-gap: 14px;
    }
    .navigation__item {
        padding: 9px 14px;
        font-size: 16px;
        line-height: 22px;
        background-position: 14px center;
    }
    .main-content {
        padding-top: 20px;
    }
}
@media (min-width: 1360px) {
}
/*стили для страницы регистрации*/
.sub {
    text-align: center;
    margin-top: 20px; /* Вы можете настроить отступ сверху, чтобы кнопка не прижималась слишком близко к форме */
}
table {
    min-width: 320px;
    max-width: calc(100vw / 2 - var(--container) / 2);
    border-collapse: collapse;
    margin: 0 auto;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.tbl {
    padding: 8px;
    border: 1px solid #F3FFEB;
    border-radius: 5px;
}
.tbl2 {
    
    color: #091609;
    background-color: #FBFEFF;
    padding: 8px;
    border: 1px solid #E4F5FF;
    border-radius: 5px;
}
.form-error {
    color: red;
}
.horizont {
    display: table-row;
}