{% extends 'news/base.html' %}

{% block content %}
<h1 align="center">{{title}}</h1>
<br>
<h2 align="center">Добро пожаловать на мой первый личный проект!</h2>
<br>
<h5>Приветствую вас на моем первом личном проекте!</h5>
<p>Меня зовут Алексей, и я - начинающий разработчик и технологический энтузиаст. Этот сайт - результат моего творчества и преданности миру разработки.</p>
<h5>Что вы найдете здесь:</h5>
<p>На этом сайте я делюсь своими навыками и идеями в области разработки и дизайна.</p>
<p>Backend данного сайта разработан на фреймворке Django и публикует статьи с помощью скрапинга новостных сайтов с
    использованием библиотеки Beautifulsoup.</p>
<p>Fronted сайта создан с использованием элементов адаптивной верстки по типу Mobile First на html css и
    приправлен небольшим количеством js для реализации таких элементов как адаптивная кнопка меню и slider новостей.</p>
<h5>Моя миссия:</h5>
<p>Моя цель - создавать интересные и функциональные сайты, которые не только красивы, но и эффективны.
    Я стремлюсь к тому, чтобы мои проекты помогали людям анализировать и обрабатывать большие потоки информации с помомощью алгоритмов машинного обучения.</p>
<h5>Свяжитесь со мной:</h5>
<p>Если у вас есть вопросы, предложения или вы просто хотите поздороваться, не стесняйтесь связаться со мной через форму обратной связи. Я всегда открыт для новых возможностей сотрудничества и обсуждения интересных проектов.</p>
<p>Благодарю вас за посещение моего сайта и интерес к моей работе. Надеюсь, что вы найдете здесь что-то вдохновляющее и полезное. Следите за обновлениями, у меня много увлекательных проектов в планах!</p>
<br>
<h5 align="center">Анкета обратной связи</h5>
<br>

<form method="post">
    {% csrf_token %}

    <table align="center">
        <tbod class="contact">
            {% for f in form %}
            <tr class="horizont">
                <td class="tbl">
                    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label></p>
                </td>
                <td class="tbl2">
                    <p>{{ f }}</p>
                    <div class="form-error"><p>{{ f.errors }}</p></div>
                </td>
            </tr>
            {% endfor %}
        </tbod>
    </table>
    <div class="sub">
        <div class="form-error">{{ form.non_field_errors }}</div>
        <button type="submit"><p>Отправить</p></button>
    </div>

</form>

{% endblock %}