
{% load static %}
{% load news_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--препятствовать масштабированию страницы в соответствии с окном просмотра-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>{{title}}</title>
	<!-- предзагрузим шрифт -->
	<link rel="preload" href="{% static 'news/fonts/roboto-v30-latin-regular.woff2' %}" as="font" crossorigin>
    <!-- Подключим основной файл index.css который содержит ссылки на остальные css файлы -->
	<link type="text/css" href="{% static 'news/css/index2.css' %}" rel="stylesheet" />
    <!--Подключаем Swiper карусели с ресурса https://swiperjs.com/get-started-->
    <link href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" rel="stylesheet"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<!-- <link rel="shortcut icon" href="{% static 'news/images/main.ico' %}" type="image/x-icon"/> -->
	<link rel="icon" href="{% static 'news/images/favicon.ico' %}" type="image/x-icon"/>
    <!--Для отслеживания состояния задач добавления статей-->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
</head>
<body>
    <!-- Header Area-->
    <header class="header-area">
        <div class="top-header">
            <div class="container top-header__container">
                <!--Breaking News Area-->
                <div class="breaking-news-area">
                    <div class="header__burger">
                        <span></span>
                    </div>
                    <h5 class="breaking-news-title">Slowpoke news
                        {% if request.user.is_authenticated %}
                            <p class="last"> {{user.username}} | <a href="{% url 'logout' %}">Выйти</a></p>
                        {% else %}
                            <p class="last"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></p>
                        {% endif %}
                    </h5>
                    <!--Убрал пока вывод о сайте и обратная связь, думаю добавить виджетов с курсом валюты и погоду
                    <div class="ticker">
                        <ul class="title__element" id="top-mainmenu">
                        {% block mainmenu %}
                            <li><a href="{% url 'home' %}"><div class="logo"></div></a></liss=>
                        {% for m in menu %}
                            <li><a href="{% url m.url_name %}">{{m.title}}</a></li>
                        {% endfor %}
                        {% endblock mainmenu %}
                        </ul>
                    </div>-->
                </div>
            </div>
        </div>
        <!--Middle header Area-->
        <div class="middle-header">
            <div class="container middle-header__container">
                    <!--Logo Area-->
                        <div class="logo-area">
                            <a href="{% url 'home' %}">
                                <img src="{% static 'news/images/top-header.jpg' %}" alt="logo">
                            </a>
                        </div>
                    <!--Header Advert Area-->
            </div>
        </div>
        <!--Bottom header Area - описание работы кнопки MENU-->
        <div class="navigation-header">
            <div class="container navigation-header__container">
                <div class="header__body">
                    <nav class="header__menu navigation">
                        {% comment %} сымитируем загулшку на весь экран {% endcomment %}
                        <ul class="header__list navigation__list">
                            {% for m in menu %}
                                <li><button class="header__link navigation__item" onclick="window.location.href='{% url m.url_name %}'">{{m.title}}</button></li>
                            {% endfor %}
                            {% if cat_selected == 0 %}
                                <li><button class="header__link selected navigation__item">Все категории</button></li>
                            {% else %}
                                <li><button class="header__link navigation__item" onclick="window.location.href='{% url 'home' %}'">Все категории</button></li>
                            {% endif %}
                            {% for c in cats %}
                                {% if c.news__count > 0 %}
                                    {% if c == cat_selected %}
                                        <li><button class="header__link selected navigation__item">{{c.name}}</button></li>
                                    {% else %}
                                        <li><button class="header__link navigation__item" onclick="window.location.href='{{ c.get_absolute_url }}'">{{c.name}}</button></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!--Карусель с постами-->
        {% if show_slider_header %} <!--условие чтобы скрывать карусель в шаблонах где она не нужна-->
            <div class="slider-header">
                <div class="container slider__container wrapper"><!--wrapper не используется-->
                    <h2 class="slider-title">Breaking NEWS</h2>
                    <div class="image-slider swiper-container">
                        <div class="image-slider__wrapper swiper-wrapper">
                            {% for p in posts %}
                                <div class="image-slider__slide swiper-slide">
                                    <div class="article-panel">
                                        <p class="first">{{p.cat}}</p>
                                        <p class="last">{{p.date}}</p>
                                    </div>
                                    <!--Если есть картинка для новости то делаем ее фоном для карточки слайдера-->
                                    {% if p.image %}
                                        <a href="{{ p.get_absolute_url }}" class="image-slider__link">
                                            <div class="image-slider__image" style="background-image: url('{{ p.image }}');"></div>
                                            {% comment %} <p><img class="img-article-center" src="{{p.image}}"></p> {% endcomment %}
                                        </a>
                                        <div class="slider-panel-bottom">
                                            <p>{{ p.title|truncatewords:10 }}</p>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <!--стили для кнопок перемещения-->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                        <!--Пагинация-->
                        {% comment %} <div class="swiper-pagination"></div> {% endcomment %}
                        <!--Полоса прокрутки
                        <div class="swiper-scrollbar"></div>-->
                    </div>
                </div>
            </div>
        {% endif %}
    </header>
    <!-- Блок контента -->
    <section class="main-content">
        <div class="container main-content__container">
                {% block content %}
                <!--Сюда должны попасть новости из post.html-->
                {% endblock %}
                <!--Пагинация-->
                {% if page_obj.has_other_pages %}
                    <nav class="list-pages">
                    <ul>
                    {% if page_obj.has_previous %}
                        <li class="page-num">
                            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                        </li>
                    {% endif %}
                    {% for p in paginator.page_range %}
                        {% if page_obj.number == p %}
                            <li class="page-num page-num-selected">{{ p }}</li>
                        {% elif p >= page_obj.number|add:-1 and p <= page_obj.number|add:1 %}
                            <li class="page-num">
                                <a href="?page={{ p }}">{{ p }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-num">
                            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                        </li>
                    {% endif %}
                    </ul>
                </nav>
                {% endif %}
                <!--Конец блока пагинации-->
        </div>
    </section>
    <!-- Конец блока контента -->
    <br>
    <!-- Footer -->
    <footer>
        <div class="container footer__container">
                    <div id="footer">
                        <p>&copy; 2024 Орки сила!</p>
                    </div>
        </div>
    </footer>
    <!-- Конец footer'а и страницы -->
    <!--Подключаем JQuery для работы бургер меню-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <!--Подключаем файл скрипта для работы меню-->
    <script src="{% static 'news/js/script.js' %}"></script>
    <!--Подключаем Swiper карусели с ресурса https://swiperjs.com/get-started-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="{% static 'news/js/script2.js' %}"></script>
</body>
