{% extends 'news/base.html' %}
{% block content %}
                <ul class="list-articles">
                    {% for p in posts %}
                        <li>
                            <div class="article-panel">
                                <p class="first">{{p.cat}}</p>
                                <p class="last">{{p.date}}</p>
                            </div>
                            {% if p.photo %}
                                <p><img class="img-article-left thumb" src="{{p.photo.url}}"></p>
                            {% endif %}
                            
                            {% if p.image %}
                                <a href="{{ p.get_absolute_url }}" class="image-slider__link">
                                    {% comment %} <div class="image-slider__image" style="background-image: url('{{ p.image }}');"></div> {% endcomment %}
                                    <p><img class="img-article-center" src="{{p.image}}"></p>
                                </a>
                            {% endif %}

                            <h2>{{p.title}}</h2>
                            {% comment %} <p class="last">Дата: {{p.time_update|date:"d-m-Y H:i:s"}}</p> {% endcomment %}
                            {% comment %} <p class="last">Дата: {{p.date}}</p> {% endcomment %}
                            <div class="news-content">
                                {% autoescape on %}
                                    {{p.content|linebreaks|truncatewords:35}}
                                {% endautoescape %}
                            </div>
                            {% comment %} <div class="news-content">
                                {{ p.content|linebreaksbr|truncatewords:50}}
                            </div> {% endcomment %}

                            {% comment %} {% if p.author %}
                                <br>
                                {% autoescape on %}
                                    {{p.author|linebreaks|truncatewords:50}}
                                {% endautoescape %}
                            {% endif %} {% endcomment %}
                            <div class="clear"></div>
                            <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Читать пост</a></p>
                            <br>
                        </li>
                        <br>
                    {% endfor %}
                </ul>
{% endblock %}