{% extends 'news/base.html' %}

{% block content %}
<br>
<div class="article-panel">
    <p class="first">{{post.cat}}</p>
    <p class="last">{{post.date}}</p>
</div>

<h1>{{post.title}}</h1>

{% if post.photo %}
    <p><img class="img-article-left" src="{{post.photo.url}}"></p>
{% endif %}
{% if post.image %}
    <p><img class="img-article-center" src="{{post.image}}"></p>
{% endif %}

<div class="news-content">
    {{ post.content|linebreaks }}
</div>

{% if post.author %}
<br>
    {% autoescape on %}
        {{post.author|linebreaks}}
    {% endautoescape %}
{% endif %}

{% endblock %}